@import '../../styles/size.scss';
@import '../../styles/zindex.scss';
@import '../../styles/mask.scss';
@import '../../styles/colors.scss';

$color: $primary-color;

.article {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color;
}

.article-wrapper {
    display: flex;
    align-items: center;
}

@media screen and (min-width: $screen-sm-min) {
    .wrapper {
        color: blue;
    }
}

@media screen and (min-width: $screen-md-min) {

}

@media screen and (min-width: $screen-lg-min) {
    .wrapper {
        color: green;
    }
}