@import '../../styles/common.scss';

.article {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    .header {
        height: 80px;
        flex: 0 1 80px;
    }
    .main {
        flex: 0 1;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .left { // 左侧区域
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: width .3s;
        .hot-search {
            width: 90%;
            display: flex;
            align-items: center;
            height: auto;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;
            &>* {
                flex: 1 0;
                height: 25%;
                width: 100%;
                margin: 10px 20px;
            }
        }
    }
    .right { // 右侧区域
        display: none;
        flex-direction: column;
        width: 300px;
        transition: width .3s;
    }
}
@include themeify {
    $color: getColor(main);
    $white: getColor(white);
    .article {
        background-color: $white;
    }
}
@media screen and (min-width: $screen-sm-min) {
    .article {
        .main {}
        .left {
            width: 550px;   
        }
        .right {
            display: flex;
            width: 150px;
        }
    }
}
@media screen and (min-width: $screen-md-min) {
    .article {
        .main {}
        .left {
            width: 650px;
        }
        .right {
            display: flex;
            width: 200px;
        }
    }
}
@media screen and (min-width: $screen-lg-min) {
    .article {
        .main {}
        .left {
            width: 800px;
        }
        .right {
            display: flex;
            width: 300px;
        }
    }
}
