@import '../../styles/common.scss';

.article {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 80px;
        flex: 0 1 80px;
    }

    .wrapper {
        flex: 0 1;
        display: flex;
        width: 100%;
        height: 100%;
        // 左侧区域
        .left {
            position: relative;
            width: 300px;
            display: none;
            border: 1px solid yellow;

            .hot-search {
                width: 100%;
                display: flex;
                align-items: center;
                height: 800px;
                flex-direction: column;
                padding-bottom: 30px;
            }
        }

        // 中间区域
        .main {
            flex: 1;
            border: 1px solid blue;
        }


        // 右侧区域
        .right {
            display: none;
            width: 300px;
            border: 1px solid red;
        }
    }
    
}



@include themeify {
    $color: getColor(main);

    .article {
        background-color: $color;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .article {
        .wrapper {

        }
    }
}

@media screen and (min-width: $screen-md-min) {
    .article {
        .wrapper {
            .left {
                display: block;
                width: 200px;
            }
        
        
            .right {
                display: flex;
                width: 200px;
            }
        }
    }
}

@media screen and (min-width: $screen-lg-min) {
    .article {
        .wrapper {
            .left {
                display: block;
                width: 400px;
            }
        
            .right {
                display: flex;
                width: 300px;
            }
        }
    }
}
