@font-face {
    font-family: RobotoCondensed;
    src: url(../static/RobotoCondensed-Italic.ttf);
}
@font-face {
    font-family: ZCOOLXiaoWei;
    src: url(../static/ZCOOLXiaoWei-Regular.ttf);
}
@font-face {
    font-family: NotoSansSC;
    src: url(../static/NotoSansSC-Black.otf);
}
@font-face {
    font-family: Ephesis;
    src: url(../static/Ephesis-Regular.ttf);
}
