@import '../../styles/common.scss';
.topics {
    position: relative;
    padding-bottom: 10px;
    &>h2 {
        font-size: 22px;
        font-family: NotoSerifSC;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: 10px;
        pointer-events: none;
    }
}
@include themeify {
    $dark: getColor(dark);
    .topics::after {
        border-bottom-color: transparent;
    }
}
@media screen and (min-width: $screen-sm-min) {}
@media screen and (min-width: $screen-md-min) {}
@media screen and (min-width: $screen-lg-min) {}
