@import '../../styles/common.scss';

.wrapper {
    box-sizing: border-box;
    font-family: RobotoCondensed;
    flex: 0 0 300px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
    will-change: transform;
    transform: translate(0, 0);
    transition: .3s;
    &:hover {
        margin: 10px 20px;
    }
    &:active {
    }
}


@include themeify {
    $color: getColor(main);
    $light: getColor(light);
    $dark: getColor(dark);
    $font: themed(font);
    
    .wrapper {
        color: $font; 
        background: $color;
        box-shadow:  20px 20px 60px $dark,
                    -20px -20px 60px $light;
        &:hover {
            background-color: hover($color);
        }
    }
}

.header {

}

.body {

}

@media screen and (min-width: $screen-sm-min) {
    .wrapper {
        // color: blue;
    }
}

@media screen and (min-width: $screen-md-min) {

}

@media screen and (min-width: $screen-lg-min) {
    .wrapper {
        // color: green;
    }
}
