@import '../../styles/common.scss';
.wrapper {
    box-sizing: border-box;
    font-family: RobotoCondensed;
    cursor: pointer;
    margin: 10px;
    will-change: transform;
    transform: translate(0, 0);
    transition: .3s;
    overflow: hidden;
    .header {
        position: relative;
        height: 44%;
        &>span {
            box-sizing: border-box;
            display: inline-block;
            font-family: ZCOOLXiaoWei;
            padding-top: 10px;
            padding-right: 50%;
            text-align: center;
            width: 100%;
            color: #fff;
            text-shadow: 1px 1px 3px #000;
        }
        &>div {
            backdrop-filter: blur(10px);
            z-index: -1;
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;   
        }
    }
}
@include themeify {
    $color: getColor(main);
    $light: getColor(light);
    $dark: getColor(dark);
    $font: themed(font);
    .wrapper {
        color: $font; 
        background: $light;
        box-shadow:  3px 3px 6px $dark;
        &:hover {
            background-color: hover($light);
        }
    }
}
@media screen and (min-width: $screen-sm-min) {}
@media screen and (min-width: $screen-md-min) {}
@media screen and (min-width: $screen-lg-min) {}
